<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chaebunchaebun">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChaeBunChaeBun"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key"/>
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth“ -->
                <data android:host="oauth"
                    android:scheme="kakao5df51dc9f14aced94486f78d34c376c3" />
            </intent-filter>
        </activity>

//원래코드
        <activity
            android:name=".MypageMyHeartActivity"
            android:exported="true" />
        <activity
            android:name=".MypageMycommentActivity"
            android:exported="true" />
        <activity
            android:name=".NavigationActivity"
            android:label="하단 네비게이션">
        </activity>
        <activity
            android:name=".HomeLikeActivity"
            android:label="홈 찜 록록" />

        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".SearchActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MyPageProfileActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MyInfoActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SetNicknameActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SetLocationActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SearchLocationActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SetStartActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".WithdrawActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SelectCategoryActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".WritingChaebunActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".WritingEtcChaebunActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".LittleActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".UnknownActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".NoMannerActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".EtcActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MypageMypostingActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SessionCallback"
            android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>