<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chaebunchaebun">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChaeBunChaeBun">
        <activity android:name=".SignInActivity">
        </activity>
        <activity android:name=".HomeActivity"
            android:label="홈 화면">
        </activity>
        <activity android:name=".NavigationActivity"
            android:label="하단 네비게이션">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetailActivity" />
        <activity android:name=".AllActivity"
            android:label="전체 소분팟"/>
        <activity android:name=".WritingActivity"
            android:label="글 작성"/>
        <activity android:name=".PartiActivity"
            android:label="내가 참여하고 있는 소분팟"/>
        <activity android:name=".LeadActivity"
            android:label="내가 작성한 글"/>
        <activity android:name=".SignUpActivity"/>
        <activity android:name=".SearchActivity" android:windowSoftInputMode="adjustResize"/>
    </application>

</manifest>